/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
body {
    background-color: rgb(232, 232, 232);
}
.white {
    color: #fff;
}
.red {
    color: rgb(230, 23, 24);
}
.blue {
    color: rgb(43, 118, 243);
}
.light-blue {
    color: rgb(1, 158, 255);
}
.purple {
    color: rgb(226, 77, 138);
}
.bold {
    font-weight: bold;
}
/* -----------------header----------------- */

#header {
    line-height: 70px;
    color: rgb(231, 156, 17);
    width: 100%;
    background-color: #fff;
}
/* -----------------main----------------- */
main p {
    padding-top: 20px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
main {
    margin-right: 15%;
    margin-left: 15%;
}
.container-top {
    display: flex;
    flex-wrap: wrap;
 
}
h6 {
    line-height: 30px;
    font-size: 20px;
}
#col-video {
    width: 70%;
}
#col-description {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    background-color: #fff;
}
#col-description-title {
    margin-bottom: 20px;
    margin-top: 10px;
}
#icons {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.icon {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 150px;
    border: 1px solid;
    border-radius: 20px;
    border-color: black;
    background-color: #fff;
}
.icon-name {
    display: inline-block;
    padding-left: 5px;
  }
#banner {
    width: 100%;
}
#space {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: rgb(231, 156, 17);
    border-radius: 50px;
    width: 100px;
}
#col-img {
    padding-top: 23px;
    margin-right: 10px;
    height: 200px;
    float: left;
}
#col-text {
    font-size: 17px;
    line-height: 30px;   
}
/* -----------------footer----------------- */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 40px;
    margin-top: 50px;
    height: 130px;
    background-color: rgb(145, 97, 190);
}
/* ---------------------------------versione tablet--------------------------------- */

@media screen and (max-width: 768px) {

  main {
    margin-right: 10%;
    margin-left: 10%;
  }  
  .container-top {
    display: flex;
    flex-direction: column;
  }
  #col-video {
    width: 100%;
  }
  #col-description {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon {
    width: 70px;
  }
  .icon-name {
    display: none;
  }
  /* #banner {
    height: 100px;
  } */
   #footer {
    flex-direction: column;
    justify-content: none;
    align-items: center;
   }
}
/* ---------------------------------versione mobile--------------------------------- */

@media screen and (max-width: 480px) {
    h1 {
        text-align: center;
    }
    #col-video {
        height: 200px;
    }
    #col-description {
    
        flex-wrap: nowrap;
        line-height: 0;
        padding-top: none;
        padding-bottom: none;
    }
    .icon {
        width: 50px;
    }
    #banner {
        display: none;
    }
    #col-img {
        float: none;
        margin-left: 10%;
        margin-right: 10%;
    }
    footer {
        justify-content: center;
    }
}